.main {
  width: 100%;
  padding: 1vh;
  min-Width: 900px;
  height: calc(100vh - 64px);
}

.ant-spin-container {
  height: inherit;
}

.ant-spin-nested-loading {
  height: inherit;
}

/* .upload {
  display: flex;
  justify-content: flex-start;
  height: 30px;
  margin-bottom: 1vh;
} */

.show {
  height: calc(100% - 39px);
  /* background-color: lightgray; */
  flex-direction: row;
  justify-content: space-around;
  /* padding: 10px 0; */
}

.col1,
.col2,
.col3 {
  background-color: #001529;
  width: 31%;
  border-radius: 5px;
  padding: 40px 10px 10px 10px;
  height: inherit;
}

.col2 {
  position: relative;
  /* padding: 10px; */
}

.content {
  height: 100%;
  /* overflow: auto; */
  overflow-x: hidden;
  overflow-y: auto;

  /* background-color: white; */
  border-radius: 4px;
  padding: 8px;
  scrollbar-width: none;
}

pre {
  height: 100%;
  margin: 0 !important;
  color: white;
}

.ui {
  background-color: white;
}

/* .json {
  color: white;
} */

.hljs {
  background-color: #001529 !important;
}

/* 
.hljs ul {
  list-style: decimal;
  margin: 0 0 0 40px !important;
  padding: 0
}

.hljs li {
  list-style: decimal-leading-zero;
  border-left: 1px solid #333 !important;
  padding: 2px 5px !important;
  margin: 0 !important;
  line-height: 14px;
  width: 100%;
  box-sizing: border-box
} */

/* .hljs li:nth-of-type(even) {
  background-color: white;
  color: inherit
} */


.javascript {
  height: inherit;
}

.spin {
  height: 100%;
}

.frameSelect {
  position: absolute;
  left: 8px;
  top: 8px;
}

/* .hljs-keyword {
  color: rgb(219, 65, 157);
}

.hljs-name {
  color: rgb(89, 232, 139) !important;
}

.hljs-string {
  color: rgb(236, 146, 67) !important;
} */

.ant-layout {
  overflow: hidden;
}

.ant-layout-header {
  padding: 0 24px !important;
}

.react-json-view {
  background-color: #001529 !important;
}

.logo {
  float: left;
  width: 120px;
  height: 34px;
  margin: 15px 24px 15px 0;
  background: rgba(255, 255, 255, 0.3);
}