.main {
  width: 100%;
  padding: 1vh;
  min-Width: 900px;
  height: 100vh;
}

.upload {
  display: flex;
  justify-content: flex-start;
  height: 30px;
  margin-bottom: 1vh;
}

.show {
  height: calc(95vh - 31px);
  /* background-color: lightgray; */
  flex-direction: row;
  justify-content: space-around;
  /* padding: 10px 0; */
}

.col1,
.col2,
.col3 {
  background-color: rgb(34, 31, 31);
  width: 31%;
  border-radius: 5px;
  padding: 30px 10px 10px 10px;
}

.content {
  height: 100%;
  overflow: auto;
  background-color: white;
  border-radius: 4px;
}

pre {
  height: 100%;
  margin: 0 !important;
}

.ui {
  background-color: white;
}

.json {
  color: white;
}

.hljs {
  background-color: white !important;
}

/* 
.hljs ul {
  list-style: decimal;
  margin: 0 0 0 40px !important;
  padding: 0
}

.hljs li {
  list-style: decimal-leading-zero;
  border-left: 1px solid #333 !important;
  padding: 2px 5px !important;
  margin: 0 !important;
  line-height: 14px;
  width: 100%;
  box-sizing: border-box
} */

/* .hljs li:nth-of-type(even) {
  background-color: white;
  color: inherit
} */


.javascript {
  height: inherit;
}

.spin {
  height: 100%
}