.main {
  width: 100%;
  padding: 1vh;
  min-Width: 900px;
  height: 100vh;
}

.upload {
  display: flex;
  justify-content: flex-start;
  height: 30px;
  margin-bottom: 1vh;
}

.show {
  height: calc(95vh - 31px);
  /* background-color: lightgray; */
  flex-direction: row;
  justify-content: space-around;
  /* padding: 10px 0; */
}

.col1,
.col2,
.col3 {
  background-color: rgb(34, 31, 31);
  width: 31%;
  border-radius: 5px;
  padding: 30px 10px 10px 10px;
}

.content {
  height: 100%;
  overflow: auto;
  background-color: white;
  border-radius: 4px;
}

.ui {
  background-color: white;
}

.json {
  color: white;
}

.js {}